@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  @include theme-aware("background", "color-background");
}
h2,
h3,
h4,
h5,
h6,
p,
a {
  @include theme-aware("color", "color-primary-dark");
}
h1 {
  font-size: 3rem;
}
* {
  box-sizing: border-box;
}
// to make footer always bottom of page
#app{
  min-height: 101vh;
  display: flex;
  flex-direction: column;
}