$color-background: #f8f9fa;
$color-primary-light: #f8f9fa;
$color-primary-dark: #212529;
$color-secondary-light: #e9ecef;
$color-secondary-dark: #343a40;
$color-headingBg: #dee2e6;
$color-warning: #f77f00;
$color-danger: #552a33;
$color-light: #e9ecef;
$color-dark: #343a40;