/* switch transitions*/
.switch-enter-from, .switch-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
  // can delete  default properties
//   .switch-enter-to, .switch-leave-from {
//     opacity: 1;
//     transform: translateY(0);
//   }
  .switch-enter-active {
    transition: all 0.3s ease;
  }
  .switch-leave-active {
    transition: all 0.2s ease;
  }